<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm.value)"
    class="col-lg-3"
  >
    <div class="mb-3">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      />
      <div
        [hidden]="email.valid || password.pristine"
        class="alert alert-danger"
      >
        Password is required
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.form.valid"
      class="w-100 btn btn-dark"
    >
      Login
    </button>
  </form>
  <div class="p-4">
    Don't have an account?
    <a [routerLink]="['/signup']" style="text-decoration: none">Sign up</a>
  </div>
</div>
