<div
  class="card mb-3 shadow p-3 mb-5 bg-white rounded"
  style="max-width: 540px"
  *ngIf="book"
>
  <div class="row g-0">
    <div class="col-md-4">
      <ng-content *ngIf="book.cover"></ng-content>
    </div>
    <div class="col-md-8 d-flex flex-column">
      <div class="card-body">
        <h4 class="card-title">
          <b>{{ book.title }}</b>
        </h4>
        <p class="card-text"><b>Author:</b> {{ book.author }}</p>
        <p class="card-text"><b>Year:</b> {{ book.year }}</p>
        <p class="card-text"><b>Genre:</b> {{ book.genre }}</p>
        <p class="card-text"><b>Price:</b> {{ book.price }}$</p>
      </div>
      <button
        type="button"
        class="btn btn-dark m-3"
        (click)="handleClick(book.id)"
      >
        {{ action }}
      </button>
    </div>
  </div>
</div>
