<div
  class="sidebar d-flex flex-column justify-content-evenly align-items-center"
>
  <!-- Form to filter genres -->
  <div>
    <h5>Genre</h5>
    <form [formGroup]="genreFilterForm!">
      <select class="form-select form-select-sm" formControlName="genre">
        Select genre:
        <option [ngValue]="null" disabled>Select genre</option>
        <option *ngFor="let genre of genres" [ngValue]="genre.genre">
          {{ genre.genre }}
        </option>
      </select>
    </form>
  </div>

  <!-- Form to filter authors -->
  <div>
    <h5>Author</h5>
    <form [formGroup]="authorFilterForm!">
      <select class="form-select form-select-sm" formControlName="author">
        Select Authors:
        <option [ngValue]="null" disabled>Select author</option>
        <option *ngFor="let author of authors" [ngValue]="author.author">
          {{ author.author }}
        </option>
      </select>
    </form>
  </div>

  <!-- Filter for price -->
  <div class="slider-price d-flex flex-column">
    <div class="d-flex justify-content-center align-items-center">
      {{ priceFilter.value | currency }}
      <input
        #priceFilter
        type="range"
        class="multi-range"
        value="0"
        min="0"
        max="50"
        (change)="handlePriceFilter(priceFilter.value)"
      />
      {{ 50 | currency }}
    </div>
  </div>
  <button class="btn btn-secondary w-50" (click)="handleResetFilter()">
    Reset
  </button>
</div>
